.btn-delete-product {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px .2px #00000035;
    box-shadow: 1px 1px 5px .2px #00000035;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    transition-delay: .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
  }
  
  .btn-delete-product .icon-wrapper-product {
    width: 40px;
    height: 40px;
    font-size: 15pt;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    color: white;
  }

  .btn-delete-product .icon-wrapper-product:hover{
    color: #dc3545;
    transition: all .5s ease;
    transform: scale(1.05);
  }
  .btn-edit-product .icon-wrapper-product:hover{
    color: #28a745 ;
    transition: all .5s ease;
    transform: scale(1.05);
  }